<div class="">
    <div class="row mx-0 pt-4">
        <div id="show-query-error" class="px-0 col-5 mx-auto">
        </div>
        <div class="">
            <!-- <form action=""> -->
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <input type="search" name="" id="userinput" class="form-control" placeholder="Search your queries...">
                        </td>
                        <td style="text-align: left;vertical-align: middle;width: 100px;"> 
                        <button id="qsubmit" disabled style="width: 100px; font-weight: 500;background-color: #323643;padding: 10px 5px;color: white;">Submit <i class="bi bi-search ms-2 fw-bold"></i></button>
                        </td>
                    </tr>
                </table>
            <!-- </form> -->
        </div>
    </div>
    <div class="showQloader" style="display: none;">
        <div class="">
            <span class="loader"></span>
        </div>
    </div>
    <div class="px-3 getqueryans">
        
    </div>
</div>

