<header class="border-bottom d-flex flex-column">
    <div class="" style="background-image: linear-gradient(to bottom right, #FF512F, #DD2476);">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="https://cloud.ibm.com/login/static/img/IBM_Cloud_White_Rev_RGB.png" width="35" height="28" alt="">
            <span class="text-white" style="font-size: 25px;margin-left: 17px;">NLP-TO-SQL</span>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <!-- <li class="nav-link text-white ">
              <button type="button" class="btn btn-secondary"
              data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on left">
                Custom tooltip
              </button>
            </li> -->
            <!-- <li>
              <a href="" class="nav-link text-white " data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Engine">
                  <img src="{{url_for('static',filename='images/logos/ai33.png')}}" alt="no" srcset="" width="45" height="45" >
              </a>
              
            </li> -->
            <li>
              <li class="nav-item dropdown">
                <a class="nav-link  text-white btn166" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{url_for('static',filename='images/logos/cp.png')}}" alt="no" srcset="" width="45" height="45" >               
                </a> 
                <ul class="dropdown-menu">
                  <li class="logout"><a class="dropdown-item fw-medium" href="/logout">Logout</a></li>
                </ul> 
              </li>

            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div>
      <div class="float-end d-flex ">
        <span class="m-btn bd-both ex-connect">Connect Excel</span>
        <span class="m-btn bd-l msql-connect" >Connet DB</span>
      </div>
    </div> -->
  </header>

  